* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.page-wrapper {
  position: relative;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: sans-serif;
  font-size: 2.01rem;
}

#header {
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: fixed;
  top: 0;
  width: 100%;
  background: #edeaea;
  justify-content: space-around;
}

#logo {
  display: flex;
  align-items: center;
  margin-left: 15px;
  width: 60vw;
}

img {
  height: 75px;
  width: 75px;
}

#logo h1 {
  margin-left: 20px;
  font-size: 2.5rem;
}

ul {
  list-style: none;
  display: flex;
  width: 35vw;
  justify-content: space-evenly;
}

ul li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}

a {
  text-decoration: none;
  color: black;
}

#form-section {
  width: 98vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  margin-top: 125px;
}

label {
  font-size: 30px;
  display: block;
}

.main-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#email {
  text-align: center;
  max-width: 300px;
  height: 30px;
}

#submit {
  height: 19%;
  width: 15%;
}

input {
  margin-top: 20px;
}

#how_it_works {
  display: flex;
  justify-content: center;
}

#features {
  margin-top: 65px;
  margin-bottom: 55px;
}

.container {
  display: flex;
}

.icon {
  display: flex;
  width: 20vw;
  justify-content: center;
  align-items: center;
  color: orange;
  height: 140px;
  font-size: 50px;
}

.fa-music {
  font-size: 75px;
}

.fa-dumbbell {
  font-size: 75px;
}

.fa-ban {
  font-size: 75px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  width: 80vw;
}

p {
  margin-top: 2px;
}

#pricing {
  display: flex;
  margin-top: 115px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.product-price {
  border: 1px solid black;
  width: calc(100% / 3);
  background: linear-gradient(black, purple, blue);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.product-price header {
  text-align: center;
  padding: 3px;
  margin-bottom: 5px;
  font-weight: bold;
  font-size: 2.5rem;
}

.product-price img {
  object-fit: cover;
  width: 100%;
  height: 62%;
  margin-bottom: 15px;
}

.product-price p {
  margin-left: 10px;
}

span {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  display: block;
  margin-top: 15px;
  color: lightgreen;
}

@media only screen and (max-width: 1000px) {
  body {
    font-size: 2rem;
  }

  #pricing {
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
  }

  #form-section {
    margin-top: 100px;
  }

  .product-price {
    width: 50%;
    height: 70%;
    text-align: center;
  }

  #features {
    margin-top: 5px;
  }

  label {
    text-align: center;
  }
}

@media only screen and (max-width: 805px) {
  #logo {
    margin-left: -40px;
    width: 50vw;
  }

  body {
    font-size: 1.75rem;
  }
}

@media only screen and (max-width: 665px) {
  .icon {
    width: 30vw;
    height: 120px;
    margin-left: -20px;
  }
}

@media only screen and (max-width: 555px) {
  body {
    font-size: 1.3rem;
  }

  .product-price p {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 450px) {
  #features {
    margin-top: 40px;
    margin-bottom: 30px;
  }

  #header h1 {
    font-size: 1.5rem;
    margin-left: 5px;
  }

  #header img {
    height: 50px;
    width: 50px;
    margin-left: 15px;
  }

  ul {
    width: 45vw;
  }

  .icon {
    font-size: 40px;
  }

  #pricing {
    margin-top: 70px;
  }

  body {
    font-size: 1.2rem;
  }

  #form-section {
    margin-top: 90px;
  }

  a {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

@media only screen and (max-width: 400px) {
  .product-price {
    display: flex;
    flex-direction: column;
    width: 60vw;
    height: 100%;
  }

  #header img {
    width: 50px;
    height: 50px;
    margin-left: 45px;
    padding: 0;
  }

  .icon {
    font-size: 35px;
    margin-left: 10px;
    width: 15vw;
  }

  .description {
    margin-left: 10px;
  }

  .product-price p {
    text-align: center;
    font-size: 2rem;
  }

  #features p {
    font-size: 1.25rem;
  }

  #features h2 {
    font-size: 20px;
  }

  #logo {
    margin-left: -105px;
    width: 30vw;
  }

  #logo h1 {
    font-size: 1.5rem;
    margin: 10px;
  }

  .nav-link {
    font-size: 11px;
    font-weight: bold;
  }

  iframe {
    width: 95%;
  }

  label {
    text-align: center;
  }
}
